{{> _msg}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.jpg" />
    <title>Área do Cliente</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .navbar {
            background: linear-gradient(90deg, rgba(255, 223, 0, 1) 0%, rgba(255, 200, 0, 1) 50%, rgba(255, 175, 0, 1) 100%);
            padding: 1rem;
            border-radius: 8px;
        }
        .navbar .nav-list {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        .navbar .nav-item {
            margin: 0 1rem;
        }
        .navbar .nav-link {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        .navbar .nav-link:hover {
            color: #000000;
            transform: scale(1.1);
        }
        .navbar .nav-link.active {
            font-weight: bold;
            color: #ffcc00;
        }
        .header-title {
            font-family: 'Arial', sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 1rem;
            color: black;
        }
        .main-content {
            flex: 1;
        }
        .footer {
            background-color: #343a40;
            color: white;
            padding: 1rem 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="header py-3">
        <div class="container">
            <h1 class="header-title">Área do cliente</h1>
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="/cliente-unico/{{client_id}}/relatorios">Analisar Relatórios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#configuracoes">Configurações</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog" target="_blank">Ver postagens</a></li>
                    <li class="nav-item"><a class="nav-link" href="/usuarios/login">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <div class="main-content">
        </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 FIKC. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>