<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Cliente</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Bem-vindo à Área do Cliente</h1>
        <nav>
            <ul>
                <li><a href="#relatorios">Analisar Relatórios</a></li>
                <li><a href="#configuracoes">Configurações</a></li>
                <li><a href="https://www.notion.so/Newsletter-FIKC-189f9f7078dd80b8acf2e849f7029edb?pvs=13" target="_blank">Fazer postagens</a></li>
                <li><a href="https://whispering-collar-491.notion.site/Newsletter-FIKC-189f9f7078dd80b8acf2e849f7029edb" target="_blank">Ver postagens</a></li>
                <li><a href="login.handlebars">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="relatorios">
            <h2>Relatórios</h2>
            <p>Aqui você pode acessar os relatórios.</p>
        </section>
        <section id="configuracoes">
            <h2>Configurações</h2>
            <p>Ajuste suas preferências aqui.</p>
        </section>
    </main>
</body>
</html>

