<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="../public/assets/favicon.jpg" />
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
	<style>
		body {
			font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
			background-image: linear-gradient(90deg, #ffdb00, #000);
		}
		input {
			padding: 10px;
			border: none;
			outline: none;
		}
		button {
			background-color: #ffdb00;
			border: none;
			padding: 10px;
			width: 100%;
			border-radius: 15px;
			color: #fff;
			transition: background-color 0.3s ease, transform 0.3s ease;
		}
		button:hover {
			background-color: #ffe74c;
			cursor: pointer;
			transform: scale(1.05);
		}
		.card {
		    width: 350px; /* Define uma largura fixa para o card */
		    padding: 20px;
		    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
		    border-radius: 10px; /* Borda arredondada */
		    background-color: white; /* Fundo branco para o card */
		}
		.container-login {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		}
	</style>
</head>
<body>
	<div class="container-login">
		<div class="card">
			<h4 style="text-align: center;">Login </h4>
			<div class="card-body">
				<form action="/usuarios/login" method="POST">
				<label for="email">E-mail: </label>
	                <input type="email" class="form-control" name="email" required>
	            <label for="senha">Senha: </label>
	                <input type="password" class="form-control" name="senha" required><br>
	            <button type="submit">Entrar</button>
	        </form>
	    </div>
	</div>
</body>
</html>
